__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo

build/
dist/
*.tar.gz
*.whl

venv/
.env/
.env.*

*.log
*.sqlite3

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.pem
*.key
